<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/atencion_cliente.css">
    <title>Atencion al cliente </title>
</head>

<body class="Cuerpo">
    <header>
        <img src="/picture/logotipo de helios.jpg" alt="">
        <h4 id="Subtitulo">Modulo para analisis individual de clientes </h4>
    </header>
    <table class="Contendor">
        <td id="Subcontenedor">
            <thead>
                <th>Resumen</th>
                <th>Facturas</th>
                <th>Recaudos</th>
                <th>Correctivos</th>
                <th>Visistas efectivas</th>
                <th>Reclamos abiertos</th>
            </thead>

        </td>

    </table>
</body>

</html>