<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atencion al cliente </title>
</head>
<body>
    <header>Helios
        <h6>
            Modulo para analisis individual de clientes
        </h6>
    </header>
   <div>
    <h4>resumen</h4>
    <h4>factruras: <autocomplete>0</autocomplete></h4>
    <h4>recaudos <autocomplete>0</autocomplete></h4>
    <h4>correctivos <autocomplete>0</autocomplete></h4>
    <h4>visitas efectivas <autocomplete>0</autocomplete></h4>
    <h4>reclamos abiertos <autocomplete>0</autocomplete></h4>
   </div>
</body>
</html>