<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/style/index.css">
      <script src="/logic/main.js"></script>
      <title>Helios - Energia</title>
</head>

<body class="cuerpo_pagina">
      <div class="conatiner">
            <a href="/template/index.html"><img src="/picture/logotipo de helios.jpg" alt=""></a>
            <header>
                  <ul>
                        <li><a href="/template/index.html">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="">Mesa de trabajo</a></li>
                        <li><a href="">Gestion de compra</a></li>
                  </ul>
            </header>
      </div>

      <div>
            <input id="buttons-1" type="button" value="Aprobaciones">
            <a href=""></a><input id="buttons-2" type="button" value="Soy cliente">
            <input id="buttons-3" type="button" value="Pagina principal">
      </div>

      



      <footer>© 2024 - Helios Energia SA ESP</footer>

</body>

</html>