<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/style/index.css">
      <script src="/logic/main.js"></script>
      <title>Heliois - Energia</title>
</head>

<body class="cuerpo_pagina">

      <nav>
            <ul>
                  <h1 class="titulo">Helios - Energia</h1>
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Acerca de</a></li>
                  
                  <li><a href="#">Contacto</a></li>
            </ul>
      </nav>
      <footer>© 2024 - Helios Energia SA ESP</footer>

</body>

</html>