<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/log in.css">
    <link rel="icon" href="/icon/icono de pagina (2).ico">
    <title>Log in</title>
</head>

<body class="cuerpo_pagina">
    <div class="conatiner">

        <div class="SubContendor">
            <img src="/icon/icono_iniciar_seccion.ico" alt=""><br>
            <label for="">Nombre completo</label><br>
            <input type="text" name="Nombre" id="Nombre" required><br>
            <label for="">Fecha de nacimiento</label><br>
            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required><br>
            <label for="">Correo electronico</label><br>
            <input type="email" name="correo" id="correo" required><br>
            <label for="">Contraseña</label><br>
            <input type="password" name="contraseña" id="contraseña" required><br>
            <label for="">Repita la contraseña</label><br>
            <input type="password" name="confirmacion_contraseña" id="confirmacion_contraseña" required>
             
        </div>

    </div>
</body>

</html>