<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/Login.css">
    <link rel="icon" href="/icon/icono de pagina (2).ico">
    <title>Log in</title>
</head>

<body class="cuerpo_pagina">
    <div class="conatiner">

        <div class="SubContenedor glasseffect">
            <h1>Inicio de sesion</h1>
            <form action="" method="post">
                <img src="/icon/icono_iniciar_seccion.ico" alt=""><br>
                <div id="user_name">
                    <input type="text" required placeholder="Escriba su nombre comnpleto">
                    <label>Nombre de usuario</label>
                </div>
                <div id="password">
                    <input type="password" required placeholder="Escriba su contraseña">
                    <label>Digite su contraseña</label>
                </div>
                <div id="recordar">¿Olvidaste tu contraseña?</div>
                <input type="submit" value="Iniciar sesion">
                <div id="registro">
                    Quiero <a href="#">registrame</a>
                </div>
            </form>


        </div>

    </div>
</body>

</html>