* {
    text-decoration: none;
    display: flexbox;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: bold;
    text-align: center;
}

.cuerpo_pagina {
    background: linear-gradient(150deg, #FFD500, #E7392E);
    background-repeat: round;
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    display: inline-block;
}


footer {
    margin: 5px;
    padding: 10px;
    color: white;
}

img {
    margin: 10px;
    padding: 5px;
}

ul {
    text-align: center;
    font-family: monospace;
}

li {
    display: inline-block;
    margin-left: 10px;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

}

li a:hover {
    background-color: #b2b2b2;
    border-radius: 20px;
}

#buttons-1 {
    background-color:#35B6B4 ;
    color: white;
    height: 80px;
    margin: 30px;
    border-radius: 10px;
}

#buttons-2 {
    background-color:#35B6B4 ;
    color: white;
    height: 80px;
    margin: 35px;
    border-radius: 10px;
}

#buttons-3 {
    background-color:#35B6B4 ;
    color: white;
    height: 80px;
    margin: 35px;
    border-radius: 10px;

}

