* {
    text-decoration: none;
    display: flexbox;
    font-family: cursive;
    text-align: center;
}

.cuerpo_pagina {
    background-image: url(/picture/logotipo\ de\ helios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flexbox;
}
footer{
    margin: 5px;
    padding: 10px;
    color: black;
}

img{
    margin: 10px;
    padding: 5px;
}
ul{
    text-align: center;
    font-family: monospace;
}
li {
    display: inline-block;
    margin-left: 10px;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;

}

li a:hover {
    background-color: #b36e20;
    border-radius: 20px;
}

#buttons-1{
    height: 70px;
    width: 110px;
    border-radius: 20px ;
}

#buttons-2{
    height: 70px;
    width: 110px;
    border-radius: 20px;
}

#buttons-3{
    height: 70px;
    width: 110px;
    border-radius: 20px;
    font-style: italic;
}

div input:hover{
    background-color: #b36e20;
    
}