* {
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cuerpo_pagina {
    background: linear-gradient(50deg, #ffd500, #e7392e);
    background-repeat: round;
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    font-size: xx-large;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.SubContenedor {
    width: 45rem;
    height: 30rem;
    border: 2px ;
    margin: 10px auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 20px;
}

.SubContenedor h1{
    text-align: center;
    padding: 10 0 20px 0;
    border-bottom: 1px  silver;
}

.SubContenedor form{
    margin: 70px;
    padding:  40px;
    box-sizing: border-box;
}

.glasseffect {
    background-image: url(/picture/logotipo\ de\ helios.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: unset;
    backdrop-filter: blur(0.4rem );
    -webkit-backdrop-filter: blur(0.4rem);
}

input{
    height: 40px;
    border-radius: 90px;
    border: none;
    text-align: center;
    margin: 10px;
    transform: initial;
}

.buttons:hover{
    background:linear-gradient(245deg, #E7392E , #FFD500 );
    border-radius: 30px;
    height: 40px;
}

table{
     text-align: center; 
     width: 100%;
}

a{
    color: white;
    font-size: medium;
    border-radius: 20px;
}